<% if @blog.new_record?
		title = "Register a new blog!"
		action = "create"
else
		title = "Update " + @blog.blogname
		action = "update"
end %>
<h1><%= title %></h1>

<%= form_for @blog, url: { action: action } do |form| %>
	<%= auth_token %>
	<div class="input-group">
		<%= label_tag(:blogname, "Blogname:") %>
		<%= form.text_field :blogname %>
	</div>

	<div class="input-group">
		<%= label_tag(:description, "Description:") %>
		<%= form.text_area :description%>
	</div>

	<div class="input-group">
		<%= label_tag(:location, "Location:") %>
		<%= form.text_field :location %>
	</div>

	<div class="input-group">
		<%= label_tag :filepicker_url %>
		<%= form.filepicker_field :filepicker_url %>
	</div>

	<%= form.submit "Create blog!" %>
<% end %>
