<figure class="blog-avatar"></figure>
<div class="post-content">
	<div class="arrow-left"></div>
 	<div class="content-box">
		<p class="blogname-header">

			<a href="javascript:void(0)" class="blogname-link" data-id="<%= this.post.escape('blog_id') %>"><%= this.post.escape('blogname') %></a>
				<% if (this.post.get('reblog')) { %>
					from
					<a href="javascript:void(0)"
						 class="blogname-link"
						 data-id="<%= this.post.escape('previous_blog_id') %>">
						<%= this.post.escape('previous_blogname') %></a>
				<% }; %></p>
		<button class="post-delete"><%= String.fromCharCode(215) %></button>
		<h2 class="post-title"><%= post.escape('title') %></h2>
		<p class="post-body"><%= post.escape('body') %></p>
	</div>

	<div class="post-bottom-bar">
		<a href="javascript:void(0)" class="notes-display">
			<%= this.post.notes().length %> note<% if (this.post.notes().length > 1) { %>s<% } %>
		</a>
		<div class="notes-display">
			<div class="notes-arrow"></div>
			<div class="notes-list">
				<% this.post.notes().each(function(note) { %>
					<li><%= note.get('render') %></li>
				<% }) %>
				<% console.log(this.post) %>
			</div>
		</div>
		<button class="reblog-btn">Reblog</button>
		<button class="like-btn"><%= String.fromCharCode(9825) %></button>
	</div>

</div>
