<h1><%= @user.username %>'s Blog</h1>
	
<% if current_user.is_following?(@user) %>
	<%= button_to "Unfollow", {:controller => :follows, :action => 'destroy', :id => @user.id}, :method => :delete %>
<% elsif (@user != current_user) %>
	<%= button_to "Follow", user_follows_url(@user) %>
<% end %>
<% @user.posts.each do |post| %>
	<div class="post-div">
		<%= post.title %>
		<%= post.body %>	
	</div>
<% end %>