<nav class="topbar">
	<div class="nav-content group">
		<ul>
			<li class="home-link"><a href="<%= posts_url %>">
				<div class="viewport logo-white"><img src="<%= image_url('spritesheet.png') %>" class="sprite logo-white"></div></a>
			</li>
			<li id="backbone-link"><a href="/backbone">Backbone!</a>

			<% unless !current_user %>
				<li id="blog-settings-li"></li>
				<li id="blog-li">Logged in as: <%= link_to current_user.email, posts_url %> - <%= link_to 'Log Out', session_url,  method: :delete %></li>
				<li id="blogs-list-li"><a href="<%= blogs_url %>">Find New Blogs!</a></li>
			<% end %>
		</ul>
	</div>
</nav>
