<div class="post-bottom-bar">
		<% unless post.get_notes.empty? %>
			<a href="<%= post_url(post) %>" class="notes-display"><%= post.get_notes.length %> note<%= post.get_notes.length > 1 ? 's' : '' %></a>

		<% end %>
		<%= reblog_button(post) %>
		<%= like_button(post) %>
</div>