<div class="post-box">
	<div class="content-box">
		<h5 class="username-header"><a href="<%= user_url(post.user) %>"><%= post.user.username %></a></h5>
		<% if post.title %><h2 class="post-title"><a href="<%= post_url(post) %>"><%= post.title %></a></h2><% end %>
		<p class="post-body"><%= post.body %></p>
	</div>
	<div class="post-bottom-bar">
		<ul>
			<li>Notes!</li>
			<li>Reblog!</li>
			<li>Like!</li>
		</ul>
	</div>	
</div>