<div class="post-box">
	<figure class="user-avatar"></figure>
	<div class="post-content">
			<div class="content-box">
			<%= post_byline(post) %>
			<% if post.title %><h2 class="post-title"><%= post.title %></h2><% end %>
			<p class="post-body"><%= post.body %></p>
		</div>
		<div class="post-bottom-bar">
				<a href="<%= post_url(post) %>" class="notes-display"><%= post.get_note_path.length %> notes</a>
				<%= reblog_button(post) %>
				<%= like_button(post) %>
		</div>
	</div>	
</div>