<h1>Dashboard</h1>
<ul>
  <% @posts.each do |post| %>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a> - <a href="<%= user_url(post.user) %>"><%= post.user.email %></a></li>
  <% end %>
</ul>

<a href="<%= new_user_post_url(current_user) %>">New Post</a>