<div class="feed group">
	<div class="post-content">
		<div class="content-box">

			<div class="content-box">
				<p class="blogname-header"><%= post_byline(@post) %></p>
				<%= delete_button(@post) %>
				<% if @post.title %><h2 class="post-title"><%= @post.title %></h2><% end %>
				<p class="post-body"><%= @post.body %></p>
			</div>
		</div>
		<%= render 'posts/post_bottom_bar', post: @post %>
		<%= render 'posts/notes', notes: @post.get_notes %>
	</div>
</div>