<!DOCTYPE html>
<html>
	<head>
	  <title>Troopr</title>
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
		<%= filepicker_js_include_tag %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<script>
			window.current_user_id = <%= !!current_user ? current_user.id : 'false' %>;
			filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>")
		</script>
		<nav class="topbar"></nav>

		<main class="group">
			<div class="backbone">
				<%= render 'shared/navbar' %>
				<%= render 'shared/errors' %>
				<%= yield %>
			</div>
		</main>
	</body>
</html>
